@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-cormorant);

  --color-nonna-cream: #f8f4f1;
  --color-nonna-chocolate: #411E06;
  --color-nonna-brown: #A05222;
}

@layer base {
  body {
    @apply bg-nonna-cream text-nonna-chocolate font-sans font-light;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-bold;
  }
}
